{% load static i18n %}
<footer class="editContent">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="/" class="editContent">
                        <span class="fa" aria-hidden="true" >
                            Wiki Movie
                        </span>
                    </a>
                </h2>
                <p class="editContent" >
                    Сайт сделан ввиду знакомства с фреймворком Django.
                    Пользуйтесь на здоровье!
                </p>
{#                <h4 class="sub-con-fo ad-info my-4 editContent" >Catch on Social</h4>#}
{#                <ul class="w3layouts_social_list media-soc list-unstyled">#}
{#                    <li>#}
{#                        <a href="#" class="w3pvt_facebook editContent" >#}
{#                            <span class="fa fa-facebook-f" ></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="w3pvt_twitter editContent" >#}
{#                            <span class="fa fa-twitter" ></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="w3pvt_dribble editContent" >#}
{#                            <span class="fa fa-dribbble" ></span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" class="w3pvt_google editContent" >#}
{#                            <span class="fa fa-google-plus" ></span>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
            <div class="col-lg-8 footer-right">
{#                <div class="w3layouts-news-letter">#}
{#                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Newsletter</h3>#}
{##}
{#                    <p class="editContent" >By subscribing to our mailing list you will always get latest news and updates from us.</p>#}
{#                    <form action="#" method="post" class="w3layouts-newsletter">#}
{#                        <input type="email" name="Email" class="editContent" placeholder="Enter your email..." required="" >#}
{#                        <button class="btn1 btn" ><span class="fa fa-paper-plane-o" aria-hidden="true" ></span></button>#}
{##}
{#                    </form>#}
{#                </div>#}
                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >{% trans 'Sections' %}</h3>
                        <ul class="list-unstyled w3layouts-icons">
                            <li>
                                <a href="/" class="editContent" >{% trans 'Main' %}</a>
                            </li>
{#                            <li>#}
{#                                <a href="about.html" class="editContent" >Категории</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="contact.html" class="editContent" >Контакты</a>#}
{#                            </li>#}
                        </ul>
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts">
                        <!-- social icons -->
                        <div class="agileinfo_social_icons">
                            <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Pages</h3>
                            <ul class="list-unstyled w3layouts-icons">

                                <li>
                                    <a href="/about/" class="editContent" >{% trans 'About author' %}</a>
                                </li>
{#                                <li>#}
{#                                    <a href="#" class="editContent" >About Us</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" class="editContent" >About Us</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" class="editContent" >About Us</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" class="editContent" >About Us</a>#}
{#                                </li>#}
                            </ul>
                        </div>
                        <!-- social icons -->
                    </div>
                    <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >{% trans 'Contact info' %}</h3>
                        <div class="contact-info">
                            <div class="footer-address-inf my-4">
                                <h4 class="ad-info mb-2 editContent" >Email </h4>
                                <p class="editContent" ><a href="mailto:3bohu103@gmail.com">3BoHu103@gmail.com</a></p>
                            </div>
                            <div class="footer-address-inf">
                                <h4 class="ad-info mb-2 editContent" >{% trans 'Location' %}</h4>
                                <p class="editContent" >БОМЖ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->
<div class="cpy-right py-3">
    <div class="container">
        <div class="row">
            <p class="col-md-10 text-left">© 2019 DjangoMovie. All rights reserved | Сайт сделан по урокам
                <a href="https://djangochannel.com"> DJANGO SCHOOL.</a>
            </p>
            <!-- move top icon -->
            <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
            <!-- //move top icon -->
        </div>
    </div>
</div>
