{% load i18n movie_tag %}
{% load static i18n %}
<header class="header">
    <!-- nav -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=""><img src="/static/images/logos.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="/">{{ user.username }}</a>
                    <a class="nav-item nav-link" href="{% url 'account_logout' %}">{% trans 'Выйти' %}</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'account_login' %}">{% trans 'Войти' %}</a>
                    <a class="nav-item nav-link" href="{% url 'account_signup' %}">{% trans 'Регистрация' %}</a>
                {% endif %}
            </div>
        </div>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </nav>
    <!-- //nav -->
</header>