<nav aria-label="page">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <a class="page-link" href="?page={{ q }}{{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            {% endif %}
        </li>
        <li class="page-item active">
            <a class="page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ q }}{{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                <li class="page-item"><a class="page-link" href="?page={{ q }}{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                </a>
            {% endif %}
        </li>
        </li>
    </ul>
</nav>