{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent">
        {% block container %}
            <div class="container-fluid py-md-3">
        {% endblock container %}
            <div class="row">
                {% block sidebar %}
                    <div class="side-bar col-lg-3">
                {% endblock sidebar %}
                {% include 'include/sidebar.html' %}
                    </div>
                {% block movie %}
                {% endblock movie %}
            </div>
            </div>
    </section>
{% endblock content %}