{% extends 'movies/base.html' %}
{% load static i18n %}
{% load ratings %}
{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}
    </div>
{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}
    </div>
{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="list-style: none">
                        <span><b>{% trans 'Год' %}:</b> {{ movie.year }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Страна' %}:</b> {{ movie.country }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Слоган' %}:</b> {{ movie.tagline }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Режиссёр' %}:</b>
                            {% for director in movie.directors.all %}
                                <a href="{{ director.get_absolute_url }}">
                                {{ director.name }}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                    <li style="list-style: none"><span><b>{% trans 'Актёры' %}:</b>
                        {% for actor in movie.actors.all %}
                            <a href="{{ actor.get_absolute_url }}">
                            {{ actor.name }}
                            </a>
                        {% endfor %}
                                </span>
                    </li>
                    <li style="list-style: none"><span><b>{% trans 'Жанр' %}:</b>
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}
                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Премьера в мире' %}:</b> {{ movie.world_premiere }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Бюджет' %}:</b> $ {{ movie.budget }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Сборы в США' %}:</b> $ {{ movie.fees_in_usa }}</span></li>
                    <li style="list-style: none">
                        <span><b>{% trans 'Сборы в мире' %}:</b> $ {{ movie.fees_in_world }}</span>
                    </li>
                        <li style="list-style: none">
                            <form action="{% url 'add_rating' %}" method="post" name="rating">
                                <b>{% trans 'Рейтинг' %}:</b>
                                {% csrf_token %}
                                <input type="hidden" value="{{ movie.id }}" name="movie">
                                    <span class="rating">
                                        {% ratings object %}
                                    </span>
                                <span class="editContent"> {{ k }} </span>
                            </form>
                        </li>
{#                    <div class="share-desc">#}
{#                        <div class="share">#}
{#                            <h4 class="editContent">#}
{#                                Share:</h4>#}
{#                            <ul class="w3layouts_social_list list-unstyled">#}
{#                                <li>#}
{#                                    <a href="#" class="w3pvt_facebook editContent">#}
{#                                        <span class="fa fa-facebook-f"></span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" class="w3pvt_twitter editContent">#}
{#                                        <span class="fa fa-twitter"></span>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#" class="w3pvt_dribble editContent">#}
{#                                        <span class="fa fa-dribbble"></span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">

            <h3 class="shop-sing editContent">
                {% trans 'О фильме' %} {{ movie.title }}
            </h3>
            <p>
                {% for image in movie.movieshot_set.all %}
                    <img src="{{ image.image.url }}" class = "img-movie-shot"
                         alt="{{ image.description }}">
                {% endfor %}
            </p>
            <p class="editContent">
                {{ movie.description|safe }}
            </p>
        </div>
        <hr>
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
                <div class="contact-single">
                    <h3 class="editContent">
                        <span class="sub-tittle editContent">{{ movie.reviews_set.count }}</span>
                        {% trans 'Оставить отзыв' %}
                    </h3>
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4"
                          id="formReview">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        <div class="form-group editContent">
                            <label for="contactcomment" class="editContent">
                                {% trans 'Ваш комментарий' %} *
                            </label>
                            {{ form.text }}
                        </div>
                        <div class="d-sm-flex">
                            <div class="col-sm-6 form-group p-0 editContent">
                                <label for="contactusername" class="editContent">
                                    {% trans 'Имя' %} *
                                </label>
                                {{ form.name }}
                            </div>
                            <div class="col-sm-6 form-group ml-sm-3 editContent">
                                <label for="contactemail" class="editContent">
                                    Email *
                                </label>
                                {{ form.email }}
                            </div>
                            {{ form.captcha }}
                        </div>
                        <button type="submit"
                                class="mt-3 btn btn-success btn-block py-3">
                            {% trans 'Отправить' %}
                        </button>
                    </form>
                    {% endif %}
                </div>
                <!--  //contact form grid ends here -->
            </div>
        </div>
        {% for review in movie.get_review %}
            <div class="media py-5">
                <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <a href="#formReview"
                       onclick="addReview('{{ review.name }}', '{{ review.id }}')">{% trans 'Ответить' %}</a>
                    {% for rew in review.review_set.all %}
                        <div class="media mt-5 editContent">
                            <a class="pr-3" href="#">
                                <img src="{% static 'images/te2.jpg' %}" class="img-fluid "
                                     alt="image">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 editContent">{{ rew.name }}</h5>
                                <p class="mt-2 editContent">{{ rew.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `
        }

    </script>
{% endblock movie %}